/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 10;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.pcs:after {
  content: " pcs";
}

.cur:before {
  content: "$";
}

.per:after {
  content: "%";
}

* {
  box-sizing: border-box;
}

body {
  padding: 0.2em 2em;
}

table {
  width: 100%;
}
table th {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
table th, table td {
  padding: 0.4em;
}

table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
  cursor: pointer;
}
table.fold-table > tbody > tr.view td:first-child,
table.fold-table > tbody > tr.view th:first-child {
  position: relative;
  padding-left: 20px;
}
table.fold-table > tbody > tr.view td:first-child:before,
table.fold-table > tbody > tr.view th:first-child:before {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 9px;
  height: 16px;
  margin-top: -8px;
  font: 16px fontawesome;
  color: #999;
  content: "";
  transition: all 0.3s ease;
}
table.fold-table > tbody > tr.view:nth-child(4n-1) {
  background: #eee;
}
table.fold-table > tbody > tr.view:hover {
  background: #000;
}
table.fold-table > tbody > tr.view.open {
  background:#d7ceb2;
  color: white;
}
table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
  transform: rotate(-180deg);
  color: #333;
}
table.fold-table > tbody > tr.fold {
  display: none;
}
table.fold-table > tbody > tr.fold.open {
  display: table-row;
}

.fold-content {
  padding: 0.5em;
}
.fold-content h3 {
  margin-top: 0;
}
.fold-content > table {
  border: 2px solid #ccc;
}
.fold-content > table > tbody tr:nth-child(even) {
  background: #eee;
}
h1 {
    color: white;
    font-size: 70px;
    font-family: Courier;
    text-align: center;
    margin: 10px;
  }
h2 {
    color: white;
    font-size: 50px;
    font-family: Gill Sans;
    text-align: center;
    margin: 10px;
  }

h3 {
  color: #4c5760;
  font-size: 20px;
  font-family: "Lucida Grande";
  text-align: center;
  margin: 10px;
}

p {
    color: #66635b;
    font-size: 20px;
    font-family: "Lucida Grande";
    text-align: center;
    margin: 20px;
  }

img {
    border: 0px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    text-align: center;
    place-items: center;
  }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #93a8ac;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  font-family: Monaco;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #d7b6b2;
  color: white;
}
body, html {
  height: 100%;
  background-color: #93a8ac
}
/* The hero image */
.hero-image{
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.602)), url("Photos/hero_image.jpg");
  opacity: 0.7;
  /* Set a specific height */
  height: 75%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px;
}

.hero-image .search-container input[type=text] {
  float: center;
  padding: 20px;
  border: 2px;
  margin-top: 30px;
  margin-right: 16px;
  font-size: 20px;
}

.hero-image .search-container button {
  float: center;
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  opacity: 1.0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


* {
  box-sizing: border-box;
}

/* Center website */

.row {
  margin: 8px;
  padding: 5px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

tr:hover {background-color: #D6EEEE;}

tr {
  border-bottom: 1px solid rgb(0, 0, 0);
}

table tr td:empty {
  width: 100px;
}

td {
  border-right: solid 1px rgb(0, 0, 0); 
  border-left: solid 1px rgb(0, 0, 0);
  padding: 10px 0;
}

table {
  border-spacing: 100px 0;
}

th, td {
  padding: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


/* .rate {
  background-color: white;
  padding: 10px;
} */

.respond-comment {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 30px;
  margin-right: 70px;
  margin-left: 70px;
  padding: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
